.place-list{
    padding: 0 20px;
}

@media screen and (min-width: 650px){
    .place-list{
        padding: 0 100px;
    }
    
}

@media screen and (min-width: 850px){
    .place-list{
        padding: 0 200px;
    }
    
}

@media screen and (min-width: 1000px){
    .place-list{
        padding: 0 300px;
    }
    
}