.place-list{
    padding: 0 20px;
}

.place-list-card{
    background: white;
}

.place-list-card i{
    font-size: 48px;
}

.place-list-card i:hover{
    color: gold;
    cursor: pointer;
}

.map-container {
    height: 15rem;
    width: 100%;
}

@media screen and (min-width: 650px){
    .place-list{
        padding: 0 100px;
    }
    
}

@media screen and (min-width: 850px){
    .place-list{
        padding: 0 200px;
    }
    
}

@media screen and (min-width: 1000px){
    .place-list{
        padding: 0 300px;
    }
    
}