.container{
    /* border: 1px solid red; */
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.content{
    margin-top: 4rem; /* equal to header height */
    flex: 1;
    overflow: auto;  
    /* border: 1px solid red; */
}